############################
# IntelliJ IDEA
############################
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.iml
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

############################
# Eclipse
############################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

############################
# NetBeans
############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

############################
# VS Code
############################
.vscode/

############################
# Mac OS
############################
.DS_Store

############################
# Java
############################
*.class

############################
# Logs / temporales
############################
*.log
